:root {
  /* original colors:  */
  --main-bg-color: #eef0f4;
  --input-bg-color: #dce1eb;
  --button-bg-color: #ac485a;
  --li-bg-color: #fffdf8;
  --main-text-color: #432000;
  --button-text-color: #fdfdfd;
  --li-hover-color: #ffecc7;

  /* --main-bg-color: #d8f3dc;
  --input-bg-color: #74c69d;
  --button-bg-color: #2d6a4f;
  --li-bg-color: #dabfae;
  --main-text-color: #1b4332;
  --button-text-color: #b7e4c7;
  --li-hover-color: #d9a98c; */
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

img {
  width: 150px;
  margin: 0 auto;
}

input {
  color: var(--main-text-color);
  background-color: var(--input-bg-color);
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin: 10px 0;
}

button {
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
  border: 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;

  font-family: "Rubik", sans-serif;
}
button:hover {
  background-color: var(--main-text-color);
  cursor: pointer;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 20px;
  font-weight: bold;
  background-color: var(--li-bg-color);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 8px;
  flex-grow: 1;
  text-align: center;
}

ul li:hover {
  background-color: var(--li-hover-color);
  cursor: pointer;
}
